*, *::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}
html, body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}
body {
  /* width: 100%; */
  height: 100%;
  
  font-family: 'Roboto', sans-serif;
  /* font-family: Arial, sans-serif; */  
  background-color: #1f1f1f;
  color: #929f8c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin : 0;
  padding : 0;
}

/* NAVIGATION */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem 1rem 1.5rem;
  font-size: 0.9rem;
  /* height: 80px; */
  background: #1f1f1f;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  height: 80%;
  padding: 0.5rem 0;
}

.nav-right a:nth-child(1), .nav-right a:nth-child(2) {
  /* display: flex; */
  display: none;
  align-items: center;
  gap: 1rem;
}
.burger {
  display: none;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: #929f8c;
  cursor: pointer;
}

li>.profile {
  background: #00897b;
  border: none;
  border-radius: 50%; 
  padding: 0.4rem;  
  color: #fff;
  cursor: pointer;
}

.nav-bar a {
  color: #929f8c;
  text-decoration: none;
  padding: 1rem 0.5rem;
}

/* .nav-bar a:visited {
  color: #ccc;
} */
.nav-bar .nav-left a:hover {
  border-bottom: 2px solid #4e8fd4;
  /* text-decoration: underline;   */
  color: #4e8fd4;

}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
  height: auto;
}

.logo {
  width: 60%;
  max-width: 260px;
  height: auto;
  margin-bottom: 2rem;
}

.search-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-bar {
  background: #222;
  border: 1px solid #555;
  border-radius: 24px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  flex: 1;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  color: #929f8c;
}

span.icon svg {
  width: 24px;
  height: 24px; 
}

span.icon {
    display: flex;
  }

  /* ==================================
   SVG : Comportement par défaut mobile
   ================================= */

/* Petites icônes visibles en mobile */
svg.mic24,
svg.photo24 {
  display: flex;
}

/* Grandes icônes cachées en mobile */
svg.mic50,
svg.photo50 {
  display: none;
}

/* styles pour toutes les icônes */
svg[class^="mic"],
svg[class*="photo"] {
  fill: #929f8c;
  margin-left: 0.5rem;
}

.search-bar input::placeholder {
  color: #aaa;
}


.buttons {
  display: none;  
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.buttons button {
  background: #303134;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.buttons button:hover {
  background: #4e8fd4;
  color: #fff;
}

.trending {
  margin-top: 2rem;
  padding: 1rem;
  background: #1f1f1f;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  color: #fff;
}

.trending .recherche-pop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.trending .recherche-pop h2 {
  color: #929f8c;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.trending ul {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trending ul li {
  width: 100%;
  border-bottom: 1px solid #555;
  display: flex;
  align-items: flex-start;
  /* align-items: center; */
  justify-content: flex-start;  
  padding: 1rem;
  color: #929f8c;
  font-size: 0.9rem;
}

.trending ul li svg.moving {
  margin-right: 1rem;
  color: #929f8c; 
}


/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  height: auto;
  position: relative;
  z-index: 10;
  padding: 1rem;
  bottom: 0;
  left: 0;
  background: #171717;
  font-size: 0.8rem;
  color: #929f8c;
  font-optical-sizing: auto;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}
  .footer-bottom > .foot-climat {
    /* display: flex; */
    display: none;
   }

.footer-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
}

.footer-top {
  padding: 1rem;
  border-bottom: 1px solid #333;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.footer-bottom ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.footer-bottom a {
  /* margin: 0.5rem 0rem; */
  font-size: 0.8rem;
  text-decoration: none;
  color: #929f8c;
  font-weight: 600;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
/* TABLETTE */
@media (min-width: 768px) and (orientation: landscape) {
  .footer-bottom > .foot-climat {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
   }
  .nav-bar {
    font-size: 1rem;
  }

  .logo {
    width: 45%;
  }

  .search-bar input {
    font-size: 1.1rem;
  }

  .buttons button {
    font-size: 1rem;
  }
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
/* DESKTOP */
@media (min-width: 991px) {
  .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 1.5rem;
  font-optical-sizing: auto;
  }
  .nav-right a:nth-child(1), .nav-right a:nth-child(2) {
    display: flex;
  }

    /* Cacher les petites icônes pour les grands écrans */
  svg.mic24,
  svg.photo24 {
    display: none;
  }

  /* Afficher les grandes icônes en desktop */
  svg.mic50,
  svg.photo50 {
    display: flex;
  }

  /* Organisation horizontale des icônes dans le span */
  span.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* espace horizontal entre les icônes */
  }

  .buttons {
    display: flex;
  }

  .trending ul li {
    display: none;
  }
  .trending .recherche-pop h2,.option {
    display: none;
  }
  .logo {
    width: 270px;
  }

  .nav-bar a {
    font-size: 1rem;
  }

  button .buttons  {
    font-size: 1rem;
  }

  footer {
    font-size: 0.9rem;
  }
   .footer-bottom > .foot-climat {
    display: flex;
    /* display: none; */
   }
 
  ul.foot-climat {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1rem;
    
  }
  .footer-center {
    margin-top: 1rem;
    display: inline-flex;
    width: 73%;
  }
  .footer-right {
    margin-top: 1rem;
    display: inline-flex;
    width: 27%;
    order:2;
  }
}